.content{
    display: flex;
    flex-direction: column;

}
#control{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.quiz_desc{
    font-weight: 600;
    height: 20px;
    font-size: 14px;
    flex-grow: 1;
    color: rgba(244, 245, 246, 0.65);
    position: relative;
    

}
.quiz_desc span{
    
    position: absolute;
}
#questoes{
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: center;
}
.q{
    
    width: 80px;
    height: 6px;
    left: 762px;
    top: 136px;

    background: #333638;
    border-radius: 8px;
}
#main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
}
#pergunta{
    font-weight: 800;
    font-size: 24px;
    color: #F4F5F6;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#alternativas{
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.alt{
    border-radius: 3px;
    border: 2px solid #2E3336;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;

    font-weight: 800;
    font-size: 16px;

    color: rgba(244, 245, 246, 0.65);
}
.sqr{
    height: 100%;
    aspect-ratio: 1 / 1;
    background: #2E3336;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
.alt:hover{
    border: 2px solid #C5D5EA;
    background-color: rgba(205, 198, 174, 0.1);
    color: #F4F5F6;
}
.selected{
    border: 2px solid #C5D5EA;
    background-color: rgba(205, 198, 174, 0.1);
    color: #F4F5F6;
}

.alt:hover .sqr{
    background: #C5D5EA;
}
.selected .sqr{
    background: #C5D5EA;
}
.checkmark{
    visibility: hidden;
}
.alt:hover .checkmark{
    visibility: visible;
}
.selected .checkmark{
    visibility: visible;
}
.next_question{
    height: 12vh;
    background: #ffffff04;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

}
.controle{
    font-size: 16px;
    font-weight: 800;
    background-color: #C5D5EA;
    outline: none;
    border: none;
    padding: 10px 20px;
    color:#2E3336;
    border-radius: 3px;
    cursor: pointer;
}
.disabled{
    background-color: #c5d5ea63;
    color:#C5D5EA;
    pointer-events: none;
}