.header_art{
    color: #C5D5EA;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 40px;
}
p{
    margin: 40px 0 40px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 170%;
    color: #FFFFFF;
}