*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #1C2022;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;

    font-weight: 800;
    font-size: 16px;
    display: flex;
    /* padding: 0 50px; */

    z-index: 2;
}
.title{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 800;
    font-size: 30px;
    color: #F4F5F6;
    padding: 0 5%;

    backdrop-filter: blur(10px);

    cursor: pointer;
}
.navbar{
    display: flex;
    /* gap: 10%; */
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    padding: 0 30px;

    background-color: #2E3336;
    border-radius: 0 0 0 5px;

    gap: 5%;
}
.search_box{
    flex-grow: 1;
    height: 65%;
    display: flex;

    background: rgba(28, 32, 34, 0.4);
    border: 1px solid rgba(162, 164, 166, 0.1);
    border-radius: 5px;
}
.search_box:hover{
    background: rgba(28, 32, 34, 0.548);
}
.search_box:focus-within{
    background: rgba(28, 32, 34, 0.548);
    border: 1px solid rgba(162, 164, 166, 0.205);
}
.search{
    outline: none;
    background-color: transparent;
    border: none;
    height: 100%;
    flex-grow: 1;
    /* background: #1C2022; */
    
    padding: 0 15px;

    font-weight: 600;
    font-size: 16px;
    color: #A2A4A6;
}
.search:focus{
    color: #F4F5F6;
}
.search_icon_box{
    aspect-ratio: 1 / 1;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 50%;

    cursor: pointer;
}
.search_icon_box:hover{
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.15) 0%, #2E3336 50%);
}
.search_icon{
    height: 55%;
}
.links{
    display: flex;
    align-items: center;
    gap: 6vw;
}
.links a{
    cursor: pointer;
    font-size: 14px;
}
a div{
    height: 3px;
    width: 0;
    border-radius: 3px;
    background-color: #F4F5F6;
    transition: all 0.3s ease;
}
a:hover div, .active{
    width: 100%;
}
.t1{
    color: #F4F5F6;
}
.t2{
    background: #1C2022;
    padding: 10px 20px;
    border-radius: 4px;
    color: #F4F5F6;
}
.t2:hover{
    background: #15181a;
}
.content{
    margin-top: 65px;
    padding: 30px 10%;
    flex-grow: 1;
    background-color: #1C2022;
}
.footer{
    height: 40px;
    background: linear-gradient(180deg, #1C2022 0%, #1A1D1F 100%);
}



.header_titulo{
    font-weight: 700;
    font-size: 30px;
    color: #F4F5F6;
    margin: 40px 0 20px;
}
.info{
    padding: 20px 0;
    border-bottom: #2E3336 2px solid;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.tags{
    display: flex;
    gap: 30px;
}
.tag{
    background: #292D2F;
    box-shadow: -5px 5px 0px #2E3336;
    border-radius: 4px;
    padding: 7px 20px;

    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.025em;
    color: rgba(248, 250, 252, 0.63);
    text-decoration: none;
}
.tag:hover{
    color: #F4F5F6;
    background: rgb(64, 70, 73);
}
.data_hora{
    font-weight: 400;
    font-size: 12px;
    color: rgba(244, 245, 246, 0.6);
}